.video-wrapper {
    position: relative;
}

.video-icon-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 58px;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 5; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-icon {
    font-size: 28px;
    color: #fff;
    z-index: 6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}